* {

  margin: 0;

  padding: 0;
  background-color: white;
  font-family: 'Rubik', sans-serif;
}

.home {
  color: rgb(16,207,255);
}

.flower {
  float: left;
}

ul li {
  display: inline-block;
  padding-right: 20px;
  font-weight: bold;
}

ul li a:hover {
  text-decoration: underline;
  text-decoration-color: red;
  color: red;
}

ul {
  text-align: right;
}

.para {
  margin-top: 50px;
  margin-left: 0;
}

ul li a {
  text-decoration: none;
  color: black;
}

main {

  height: 8px;

  width: 100%;
  margin-bottom: 20px;
  background-color: rgba(155,233,252,1);
}

ol {
  list-style-type: decimal;
}